body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 70vw;
  margin: 0 auto;
}

button {
  width: 200px;
  height: 80px;
  border: 3px solid black;
  color: black;
  transition: 0.7s;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: black;
}

img {
  width: auto;
  max-width: 300px;
  max-height: 200px;
  height: auto;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

img:hover {
  transform: scale(1.08);
}
